USE [master]
GO
/****** Object:  Database [Nba]    Script Date: 6.07.2025 22:12:09 ******/
CREATE DATABASE [Nba]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Nba', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Nba.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Nba_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Nba_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Nba].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Nba]
GO
/****** Object:  Table [dbo].[Oyuncular]    Script Date: 6.07.2025 22:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyuncular](
	[OyuncuID] [int] NOT NULL,
	[TakimID] [int] NOT NULL,
	[OyuncuAd] [varchar](50) NOT NULL,
	[OyuncuSoyad] [varchar](50) NOT NULL,
	[OrtalamaSayi] [int] NOT NULL,
	[Maas] [int] NOT NULL,
 CONSTRAINT [PK_Oyuncular] PRIMARY KEY CLUSTERED 
(
	[OyuncuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[NbaViewLamelo]    Script Date: 6.07.2025 22:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[NbaViewLamelo]
as select * from Oyuncular Where OyuncuAd = 'Lamelo'
GO
/****** Object:  Table [dbo].[koclar]    Script Date: 6.07.2025 22:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[koclar](
	[KocID] [int] NOT NULL,
	[TakimID] [int] NOT NULL,
	[KocAdi] [varchar](50) NOT NULL,
	[KocSoyadi] [varchar](50) NOT NULL,
	[Maas] [int] NOT NULL,
 CONSTRAINT [PK_koclar] PRIMARY KEY CLUSTERED 
(
	[KocID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[maclar]    Script Date: 6.07.2025 22:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[maclar](
	[mac_id] [int] IDENTITY(1,1) NOT NULL,
	[ev_sahibi_takim_id] [int] NULL,
	[deplasman_takim_id] [int] NULL,
	[tarih] [date] NULL,
	[ev_sahibi_skor] [int] NULL,
	[deplasman_skor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[mac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takimlar]    Script Date: 6.07.2025 22:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takimlar](
	[TakimID] [int] NOT NULL,
	[TakımAdı] [varchar](50) NOT NULL,
	[Sehir] [varchar](50) NOT NULL,
	[Bölge] [varchar](50) NULL,
 CONSTRAINT [PK_Takimlar] PRIMARY KEY CLUSTERED 
(
	[TakimID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[koclar]  WITH CHECK ADD  CONSTRAINT [FK_koclar_Takimlar] FOREIGN KEY([TakimID])
REFERENCES [dbo].[Takimlar] ([TakimID])
GO
ALTER TABLE [dbo].[koclar] CHECK CONSTRAINT [FK_koclar_Takimlar]
GO
ALTER TABLE [dbo].[maclar]  WITH CHECK ADD FOREIGN KEY([deplasman_takim_id])
REFERENCES [dbo].[Takimlar] ([TakimID])
GO
ALTER TABLE [dbo].[maclar]  WITH CHECK ADD FOREIGN KEY([ev_sahibi_takim_id])
REFERENCES [dbo].[Takimlar] ([TakimID])
GO
ALTER TABLE [dbo].[Oyuncular]  WITH CHECK ADD  CONSTRAINT [FK_Oyuncular_Takimlar] FOREIGN KEY([TakimID])
REFERENCES [dbo].[Takimlar] ([TakimID])
GO
ALTER TABLE [dbo].[Oyuncular] CHECK CONSTRAINT [FK_Oyuncular_Takimlar]
GO
USE [master]
GO
